* {
    box-sizing: border-box;
    /* margin: 1em auto;  */
    padding: 0;
    /* max-width: 100%; */
     /* min-height: 100%;  */

     
}
 @media (orientation: landscape) {

   header{
    background-image: url(/images/svgs/Asset\ 8.svg);
    background-repeat: no-repeat;
    align-self: left;
    background-size: auto 100%;
    display: grid;
    max-width: 100%;
    min-height: 15rem;
    grid-template-rows: [socialmedianav] 1fr [h1] 1fr [nav] 1fr;
    grid-template-columns: [profilepicture] 1fr 3fr;
    padding-bottom: 1em;
    
   }
   .profilepicture{
    grid-column: 1;
      grid-row: 1/ span 3;
      justify-self: left;
      max-width: 13em;

   }
   .socialmedianav{
       grid-column: 2;
       grid-row: 1;
       justify-self: left;
   }
   h1{
       grid-column: 2;
       grid-row: 2;
       justify-self: left;
   }
   .nav{
       grid-column: 2;
       justify-self: baseline;
       grid-row: 3;
       
   }
    .container{
       
        justify-self: right;
       display: grid;
       /* column-width:  */
       grid-template-columns: [highlights] 1fr [restofcontent] 3fr;
       grid-column-gap: 1em;
   }
   .highlights{
       grid-column: highlights;
   }
   .restofcontent{
       grid-column: restofcontent;
       padding-top: 4em;
       display: grid;
       grid-template-rows: [aboutskills] 1fr[container__item4] 1fr;
   }

   .aboutskills{
        display: grid;
        grid-row: aboutskills;
        grid-template-columns: [about] 1f [skills] ;
        grid-gap: 1em;
        
   }
   .about{
       grid-column: about;
       
   }
   .aboutme__item2{
       grid-column: skills;
   }
  
  
 }










 @media (orientation: portrait){
    header{
       
            background-image: url(/images/svgs/Asset\ 8.svg);
            background-repeat: no-repeat;
            align-self: left;
            background-size: auto 100%;
            display: grid;
            max-width: 100%;

            grid-template-rows: [socialmedianav] 1fr [h1] 1fr [nav] 1fr;
            grid-template-columns: [profilepicture] 1fr 3fr;
            padding-bottom: 1em;
            
           
       }
       
    body{
     justify-content: center;
 }
   .profilepicture{
    grid-column: 1;
      grid-row: 1/ span 3;
      justify-self: left;
      max-width: 13em;

   }
   .socialmedianav{
       grid-column: 2;
       grid-row: 1;
       justify-self: left;
   }
   h1{
       grid-column: 2;
       grid-row: 2;
       justify-self: left;
   }
   .nav{
       grid-column: 2;
       justify-self: baseline;
       grid-row: 3;
       
   }
   .container__item2{
       display:flex;
       flex-wrap: wrap;
   }

    .container{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: repeat(3, 1f);
    justify-self: center;
} 
.aboutskills{
    display: grid;
    grid-template-columns: 60% 40%;

}
.about{
    
    max-width: 90%;
    line-height: 20px;
    font-size: large;
}
.skills{
    max-width: 90%;
}
.container__item4{
   
}
 } 
