* {
     font: 700  'Open Sans', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, .8);
     
   
}
body{
    background-color: rgba(253, 219, 219,.5);
}






@media(orientation: landscape){

.linkedin,
.git{
    width:3em;
}
.crossniq,
.anythinggrows,
.portfoliosite{
    width: 15em;
}
.profilepicture{

    border-radius: 50%;
    border-style: double;
    border-width: 2em;
}
.container{
    background-color: maroon;
}
.container__item2{
    background-color: lawngreen;
}
.aboutskills{
    background-color: magenta;
}
.container__item4{
    background-color: lightseagreen;
}
}







@media(orientation: portrait){

    .linkedin,
    .git{
        width:3em;
    }
    .crossniq,
    .anythinggrows,
    .portfoliosite{
        width: 15em;
    }
    .profilepicture{
        width:13em;
        border-radius: 50%;
        border-style: double;
        border-width: 2em;
    }
    .nav{
        font-size: x-large;
    }
    .container{
        background-color: maroon;
    }
    .container__item2{
        background-color: lawngreen;
    }
    .aboutskills{
        background-color: magenta;
    }
    .container__item4{
        background-color: lightseagreen;
    }
}
